<h1>Incident Reports</h1>
<div class="row">
    <div id="map" class="span12" style="height: 400px;"></div>
</div>
<!-- 

<table class="table table-bordered table-striped">
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Category</th>
    <th>Level</th>
    <th>Comment</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crimes.each do |crime| %>
  <tr>
    <td><%= crime.lat %></td>
    <td><%= crime.lon %></td>
    <td><%= crime.category.name %></td>
    <td><%= crime.level %></td>
    <td><%= crime.comment %></td>
    <td><%= crime.image_url %></td>
    <td><%= link_to 'Show', crime %></td>
    <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
    <td><%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table> -->

<br />

<script>
window.markers = [
    <% Crime.all.each do |crime| %>
    {
          lat: <%= crime.lat %>,
          lng: <%= crime.lon %>,
          infowindow: "Category: <%=crime.category.name %></br><%= crime.comment %>"
    },
    <% end %>
      ]
</script>

<%= link_to 'New Crime', new_crime_path %>
